.field {
  &-error {
    @extend .form__helptext;
    @extend .form__helptext--error;
  }

  &._required {
    & > label.label {
      &::after {
        content: '*';
        color: $color-red;
        padding-left: 5px;
        margin: 0;
        font-size: inherit;
      }
    }
  }

  & > .label {
    @extend .input__label;

    @include screen-sm {
      padding: 0;
      text-align: left;
      width: auto;
      float: none;
    }
  }

  & > .control {
    float: none;
    width: auto;
  }

  &._error {
    @extend .input--has-error;

    .control input,
    .control select,
    .control textarea {
      border-color: transparent;

      &:focus {
        border-color: $color-accent;
      }
    }
  }

  &-tooltip {
    .field-tooltip-content {
      background-color: $color-white;
      border: 0;
      font-size: rem(12);
      line-height: rem(15);
      border-radius: 3px;
      box-shadow: 0px 3px 7px rgba($color-accent, 0.25);
      padding: rem(7);
      top: -2px;

      &::before {
        border: 5px solid transparent;
        border-right-color: $color-white;
        left: -11px;

        @media only screen and (max-width: 767px) {
          margin-top: -11px;
          left: auto;
          right: 15px;
          transform: rotate(90deg);
        }
      }

      &::after {
        border: 5px solid transparent;
        border-right-color: $color-white;
        left: -11px;

        @media only screen and (max-width: 767px) {
          margin-top: -11px;
          left: auto;
          right: 15px;
          transform: rotate(90deg);
        }
      }
    }
  }
}
