fieldset.fieldset {
  @extend .form;

  & > .field {
    &.choice,
    &.no-label {
      &::before {
        display: none;
      }
    }
  }

  & > .field,
  & > .field:not(.choice) {
    @extend .form__field;

    &._required {
      & > label.label {
        &::after {
          content: '*';
          color: $color-red;
          padding-left: 5px;
          margin: 0;
          font-size: inherit;
        }
      }
    }

    & > .label {
      @extend .input__label;

      @include screen-sm {
        padding: 0;
        text-align: left;
        width: auto;
        float: none;
      }
    }

    & > .control {
      float: none;
      width: auto;
    }
  }
}
