.modal-slide {
  &._inner-scroll {
    .modal {
      &-inner-wrap {
        border-radius: 5px;
        box-shadow: 0px 4px 10px rgba($color-accent, 0.25);
      }

      &-footer {
        border-top-color: #aaa;

        .action {
          @extend .button;

          &.primary {
            @extend .button--primary;
          }
        }
      }
    }
  }
}

.modal-custom .action-close:before,
.modal-popup .action-close:before,
.modal-slide .action-close:before {
  color: #aaa;
}

.modals-overlay {
  background-color: rgba(0, 0, 0, 0.22);
}
