@function em($font-size, $base: $base-font-size) {
  @return $font-size / $base * 1em;
}

@function rem($font-size, $base: $base-font-size) {
  @return $font-size / $base * 1rem;
}

@mixin screen-lg {
  @media (min-width: #{$screen-lg-min}px) {
    @content;
  }
}

@mixin screen-md {
  @media (min-width: #{$screen-md-min}px) {
    @content;
  }
}

@mixin screen-sm {
  @media (min-width: #{$screen-sm-min}px) {
    @content;
  }
}

@mixin screen-xs {
  @media (min-width: #{$screen-xs-min}px) {
    @content;
  }
}

@mixin focused-state($accent: $color-accent) {
  box-shadow: 0 0 0px 2px rgba($accent, 0.4);
}

@mixin primary-button($accent: $color-accent) {
  background-color: $accent;
  border-color: $accent;
  color: $color-white;

  &:hover {
    color: $color-white;
    background-color: darken($accent, 10%);
    border-color: $accent;
  }

  &:disabled {
    color: $color-white;
    background-color: lighten($accent, 17%);
    border-color: lighten($accent, 17%);
  }

  &:not(:active):focus {
    @include focused-state;
    background-color: $accent;
    border-color: $accent;
    color: $color-white;
  }

  &:active {
    color: $color-white;
  }
}

@mixin outline-inverted-button($accent: $color-accent) {
  background-color: $accent;
  border-color: $color-white;
  color: $color-white;

  &:hover {
    background-color: lighten($accent, 50%);
    border-color: $color-white;
    color: $accent
  }

  &:disabled {
    color: lighten($accent, 30%);
    border-color: lighten($accent, 30%);
  }

  &:not(:active):focus {
    @include focused-state($accent);
  }

  &:active {
    color: $color-white;
  }
}