$images: './../images';

/** Fonts */

$base-font-size: 10;
$font-family: Montserrat, -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
$font-weight-normal: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;
$font-weight-black: 800;

/** Media */

$screen-xs-min: 576;
$screen-sm-min: 768;
$screen-md-min: 992;
$screen-lg-min: 1200;
$screen-xxl-min: 1600;

/** Colors */

$color-white: #ffffff;
$color-ultramarine: #1f965e;
$color-red: #ff0000;
$color-tutu: #fce6e6;
$color-mandy: #eb5757;
$color-light-coral: #ed8586;
$color-zircon: #e0e0e0;
$color-rangoon: #191919;
$color-armadillo: #4a4a4a;
$color-light-gray: #aaaaaa;
$color-wild-sand: #f4f4f4;
$color-apple-green: #e5f5ec;
$color-sea-buckthorn: #f2994a;
$color-pale-slate: #c4c4c4;
$color-egyptian-blue: #1440af;
$color-blue-moon: #ebf0fe;
