<div class="summary__field summary__field--style-no-border" data-bind="visible: isVisible">
    <div class="summary__cell">
        <div class="checkbox">
            <input class="checkbox__control"
                   type="checkbox"
                   id="email_subscription_checkbox"
                   data-bind="checkedValue: value, checked: isChecked"/>
            <label class="checkbox__label" for="email_subscription_checkbox">
                <div class="checkbox__box">
                    <svg class="icon checkbox__icon">
                        <use xlink:href="#icon--check"></use>
                    </svg>
                </div>
                <!-- ko text: label() --><!-- /ko -->
            </label>
        </div>
    </div>
</div>
