/** Header */
.wheelpros-checkout-header {
    min-height: 137px;
    background: #3367EE;
    color: white;
    padding-left: 120px;
    padding-top: 39px;
}

.wp-chk-breadcrumb-link, .wp-chk-breadcrumb-link:hover, .wp-chk-breadcrumb-link:visited {
    color: white;
}

.wheelpros-checkout-header .wp-chk-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 59px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.wheelpros-checkout-header .wp-chk-breadcrumbs {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.7;
    padding-bottom: 37px;
}

/** Main content */
.wheelpros_checkout-onepage-index > .page-wrapper {
    padding: 60px 100px 60px 120px;
}

@media screen and (min-width: 768px) {
    .wheelpros_checkout-onepage-index > .page-wrapper > .page-main {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .wheelpros_checkout-onepage-index > .page-wrapper .page-title-wrapper {
        max-width: 63%;
    }
}

.wheelpros_checkout-onepage-index > .page-wrapper .page-title-wrapper .page-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1px;
    color: #191919;
    word-break: break-word;
}
