.collapsible {
  display: block;
  width: 100%;
  margin: 0;

  $collapsible: &;

  &--expanded {
    & > #{$collapsible} {
      &__header {
        &::after {
          transform: rotate(180deg);
        }

        & > .link {
          color: darken($color-accent, 19%);
        }
      }
    }

    & > #{$collapsible}__content {
      visibility: visible;
      height: auto;
      position: relative;
      left: 0;
    }
  }

  &--style-distant {
    margin-bottom: rem(10);
  }

  &__header {
    display: inline-block;
    position: relative;
    line-height: rem(18);
    margin: 0 rem(30) 0 0;

    &::after {
      content: '';
      display: inline-block;
      width: 10px;
      height: 7px;
      background: {
        image: url(#{$images}/chevron-down.svg);
        repeat: no-repeat;
        position: center;
        size: contain;
      }
      position: absolute;
      top: 6px;
      right: -20px;
      transition: transform 0.3s ease;
      transform: rotate(0);
    }

    & + #{$collapsible}__content {
      margin: rem(20) 0 0 0;
    }

    .link {
      transition: color 0.3s ease;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__content {
    margin: 0;
    visibility: hidden;
    position: absolute;
    left: -9999px;
    height: 0;
  }
}
