.control-group {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;

  & > .button {
    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    z-index: 10;
  }

  & > .input {
    &:first-child {
      .input__control {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  & > .tooltip {
    height: rem(40);
    margin-left: 10px;
  }
}