.input {
  position: relative;

  $input: &;

  & + & {
    margin-top: rem(10);
  }

  &--is-required {
    & > #{$input}__label {
      &::after {
        content: "*";
        color: $color-red;
        padding-left: 5px;
      }
    }
  }

  &--has-error {
    #{$input} {
      &__control {
        color: $color-mandy;
        background-color: $color-tutu;

        &::placeholder {
          color: $color-light-coral;
        }
      }
    }
  }

  &--has-addon {
    #{$input} {
      &__control {
        padding-right: rem(70);
      }
    }
  }

  &--size-sm {
    max-width: rem(100);
  }

  &__label {
    display: inline-block;
    font-size: rem(14);
    font-weight: $font-weight-bold;
    color: $color-armadillo;
    margin-bottom: 10px;
  }

  &__label-addon {
    float: right;
  }

  &__control {
    display: inline-block;
    width: 100%;
    padding: 7px 13px;
    margin: 0;
    min-height: rem(40);
    line-height: rem(20);
    border: 1px solid $color-wild-sand;
    border-radius: 5px;
    background-color: $color-wild-sand;
    outline: 0;
    font-size: rem(16);
    font-weight: $font-weight-bold;
    z-index: 10;
    position: relative;
    color: $color-rangoon;
    transition: color 0.3s ease-in, background-color 0.3s ease-in,
      border-color 0.1s ease-in;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;

    &::placeholder {
      color: $color-light-gray;
    }

    &:focus,
    &:active {
      color: $color-rangoon;
      background-color: $color-wild-sand;
      border-color: $color-accent;

      &::placeholder {
        color: $color-light-gray;
      }
    }

    &:disabled {
      background-color: lighten($color-wild-sand, 2%);
      pointer-events: none;
      color: $color-light-gray;
    }
  }

  &__addon {
    height: rem(40);
    position: absolute;
    right: 10px;
    bottom: 0;
    z-index: 11;

    & > .icon {
      width: 40px;
      height: 40px;
    }

    & > .button {
      line-height: rem(40);
    }
  }
}
