.link {
  color: $color-rangoon;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &--variation-subdued {
    color: $color-armadillo;
  }

  &--variation-accent {
    color: $color-accent;
  }

  &--variation-strong {
    font-weight: $font-weight-bold;
  }
}