.media {
  width: 80px;
  padding-bottom: 80px;
  position: relative;
  display: block;
  overflow: hidden;
  background-color: $color-pale-slate;

  &__image {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
}
