<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="radio radiogroup__header"
     data-bind="css: {
        'radiogroup__header--is-selected': (getCode() == isChecked()),
        'radiogroup__header--side-top': $index() == 0
        }">
    <input class="radio__control radiogroup__control"
           type="radio"
           name="payment[method]"
           data-bind="
                    attr: {'id': getCode()},
                    click: selectPaymentMethod,
                    visible: isRadioButtonVisible()"
           ko-value="getCode()"
           ko-checked="isChecked"
    >

    <label class="radio__label radiogroup__label" data-bind="attr: {'for': getCode()}">
        <div class="radio__box"></div>
        <!-- ko if: $parent.getImage(getCode()) -->
        <div class="radiogroup__label-item">
            <img data-bind="attr: {src: $parent.getImage(getCode()), alt: getTitle()}" />
        </div>
        <!-- /ko -->
        <div class="radiogroup__label-item">
            <span class="text" translate="getTitle()"></span>
        </div>
    </label>

    <div class="radiogroup__content form form--condensed payment-method-content">
        <each args="getRegion('messages')" render=""></each>
        <fieldset class="braintree-paypal-fieldset" data-bind='attr: {id: "payment_form_" + getCode()}'>
            <div id="paypal-container"></div>
        </fieldset>
        <div class="checkout-agreements-block">
            <each args="$parent.getRegion('before-place-order')" render=""></each>
        </div>
        <!-- ko if: (vaultEnabler.isVaultEnabled())-->
        <div class="field choice" data-bind="visible: !isReviewRequired()">
            <input type="checkbox"
                   name="vault[is_enabled]"
                   class="checkbox"
                   data-bind="attr: {'id': getCode() + '_enable_vault'}, checked: vaultEnabler.isActivePaymentTokenEnabler"/>
            <label class="label" data-bind="attr: {'for': getCode() + '_enable_vault'}">
                <span><!-- ko i18n: 'Save for later use.'--><!-- /ko --></span>
            </label>
            <div class="field-tooltip toggle">
                            <span class="field-tooltip-action action-vault"
                                  tabindex="0"
                                  data-toggle="dropdown"
                                  data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                                <span translate="'What is this?'"></span>
                            </span>
                <div class="field-tooltip-content"
                     data-target="dropdown"
                     translate="'We store your payment information securely on Braintree servers via SSL.'"></div>
            </div>
        </div>
        <!-- /ko -->
        <div class="actions-toolbar braintree-paypal-actions" data-bind="visible: isReviewRequired()">
            <div class="payment-method-item braintree-paypal-account">
                <span class="payment-method-type">PayPal</span>
                <span class="payment-method-description" text="customerEmail()"></span>
            </div>
            <div class="primary">
                <button data-button="paypal-place" data-role="review-save"
                        type="submit"
                        data-bind="attr: {id: getCode() + '_place_order', title: $t('Place Order')}, enable: (isActive()), click: placeOrder"
                        class="action primary checkout"
                        disabled>
                    <span translate="'Place Order'"></span>
                </button>
            </div>
        </div>
        <div class="actions-toolbar" data-bind="visible: !isReviewRequired()">
            <div data-container="paypal-button" class="primary"></div>
        </div>
    </div>
</div>
