<!--

-->
<div class="radio radiogroup__header payment-method"
     data-bind="css: {
        'radiogroup__header--is-selected': (getCode() == isChecked()),
        'radiogroup__header--side-top': $index() == 0,
        '_active': isActive(),
        'payment-method-braintree': true
        }">

    <div class="payment-method-title field choice">
        <input class="radio__control radiogroup__control"
               type="radio"
               name="payment[method]"
               data-bind="
                        attr: {'id': getCode()},
                        value: getCode(),
                        checked: isChecked,
                        click: selectPaymentMethod,
                        visible: isRadioButtonVisible()"
               ko-value="getCode()"
               ko-checked="isChecked"
        >
        <label class="radio__label radiogroup__label" data-bind="attr: {'for': getCode()}">
            <div class="radio__box"></div>
            <!-- ko if: $parent.getImage(getCode()) -->
            <div class="radiogroup__label-item">
                <img data-bind="attr: {src: $parent.getImage(getCode()), alt: getTitle()}"/>
            </div>
            <!-- /ko -->
            <div class="radiogroup__label-item">
                <span class="text" translate="getTitle()"></span>
            </div>
        </label>
    </div>

    <div class="radiogroup__content form form--condensed payment-method-content">

        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address" data-bind="visible: $parent.activeTab() === 'pickup'">
            <!-- ko foreach: $parent.getRegion('billing-address-form') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <form id="co-transparent-form-braintree"
              class="form"
              data-bind=""
              method="post"
              action="#"
              novalidate="novalidate">
            <fieldset
                data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
                <legend class="legend">
                    <span><!-- ko i18n: 'Credit Card Information'--><!-- /ko --></span>
                </legend>
                <br>
                <div class="field number required">
                    <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
                        <span><!-- ko i18n: 'Credit Card Number'--><!-- /ko --></span>
                    </label>
                    <div class="control braintree-card-control">
                        <!-- ko if: !selectedCardType() -->
                        <img data-bind="attr: {'src': getIcons('NONE').url}" class="braintree-credit-card-selected">
                        <!--/ko-->
                        <!-- ko if: selectedCardType() -->
                        <img data-bind="attr: {'src': getIcons(selectedCardType()).url}"
                             class="braintree-credit-card-selected">
                        <!--/ko-->

                        <div data-bind="attr: {id: getCode() + '_cc_number'}" class="hosted-control"></div>
                        <div class="hosted-error"><!-- ko i18n: 'Please, enter valid Credit Card Number'-->
                            <!-- /ko --></div>
                    </div>
                    <div>
                        <ul class="credit-card-types braintree-credit-card-types">
                            <!-- ko foreach: {data: getCcAvailableTypes(), as: 'item'} -->
                            <li class="item">
                                <!--ko if: $parent.getIcons(item) -->
                                <img data-bind="attr: {
                                    'src': $parent.getIcons(item).url
                                }">
                                <!--/ko-->
                            </li>
                            <!--/ko-->
                        </ul>
                        <input type="hidden"
                               name="payment[cc_type]"
                               class="input-text"
                               value=""
                               data-bind="attr: {id: getCode() + '_cc_type', 'data-container': getCode() + '-cc-type'},
                                    value: creditCardType
                        ">
                    </div>
                </div>

                <div class="field number required">
                    <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
                        <span><!-- ko i18n: 'Expiration Date'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <div>
                            <div data-bind="attr: {id: getCode() + '_expirationDate'}"
                                 class="hosted-control"></div>

                            <div class="hosted-error"><!-- ko i18n: 'Please, enter valid Expiration Date'-->
                                <!-- /ko --></div>
                        </div>
                    </div>
                </div>
                <!-- ko if: (hasVerification())-->
                <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}">
                    <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
                        <span><!-- ko i18n: 'Card Verification Number'--><!-- /ko --></span>
                    </label>
                    <div class="control _with-tooltip">
                        <div data-bind="attr: {id: getCode() + '_cc_cid'}" class="hosted-control hosted-cid braintree-hosted-fields-valid"></div>
                        <div class="hosted-error"><!-- ko i18n: 'Please, enter valid Card Verification Number'-->
                            <!-- /ko --></div>

                        <div class="field-tooltip toggle">
                            <span class="field-tooltip-action action-cvv"
                                  tabindex="0"
                                  data-toggle="dropdown"
                                  data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                                <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                            </span>
                            <div class="field-tooltip-content"
                                 data-target="dropdown"
                                 data-bind="html: getCvvImageHtml()"></div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: (isVaultEnabled())-->
                <div class="field choice checkbox">
                    <input type="checkbox"
                           name="vault[is_enabled]"
                           class="checkbox"
                           data-bind="attr: {'id': getCode() + '_enable_vault'}, checked: vaultEnabler.isActivePaymentTokenEnabler"/>
                    <label class="checkbox__label" data-bind="attr: {'for': getCode() + '_enable_vault'}">
                        <div class="checkbox__box">
                            <svg class="icon checkbox__icon">
                                <use xlink:href="#icon--check"></use>
                            </svg>
                        </div>
                        <!-- ko i18n: 'Save for later use.'--><!-- /ko -->
                    </label>
                    <div class="field-tooltip toggle">
                            <span class="field-tooltip-action action-vault"
                                  tabindex="0"
                                  data-toggle="dropdown"
                                  data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                                <span translate="'What is this?'"></span>
                            </span>
                        <div class="field-tooltip-content"
                             data-target="dropdown"
                             translate="'We store you payment information securely on Braintree servers via SSL.'"></div>
                    </div>
                </div>
                <!-- /ko -->
            </fieldset>
            <input type="submit" id="braintree_submit" style="display:none"/>
        </form>

        <!-- ko foreach: $parent.getRegion('before-place-order') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko foreach: $parent.getRegion('braintree-recaptcha') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="actions-toolbar" style="display: none">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                            click: placeOrderClick,
                            attr: {title: $t('Place Order')},
                            css: {disabled: !isPlaceOrderActionAllowed()},
                            enable: (getCode() == isChecked())"
                        disabled
                >
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>

</div>
