<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<div class="radio radiogroup__header"
     data-bind="css: {
        'radiogroup__header--is-selected': (getCode() == isChecked()),
        'radiogroup__header--side-top': $index() == 0
        }"
>
    <input class="radio__control radiogroup__control"
           type="radio"
           name="payment[method]"
           data-bind="
                    attr: {'id': getId()},
                    value: getId(),
                    click: selectPaymentMethod,
                    checked: isChecked,
                    visible: isRadioButtonVisible()"
    >

    <label class="radio__label radiogroup__label" data-bind="attr: {'for': getId()}">
        <div class="radio__box"></div>
        <div class="radiogroup__label-item">
<!--            <svg class="icon " width="40" height="20">-->
<!--                <use xlink:href="#icon&#45;&#45;mastercard"></use>-->
<!--            </svg>-->
            <img data-bind="attr: {
            'src': getIcons(getCardType()).url,
            'width': getIcons(getCardType()).width,
            'height': getIcons(getCardType()).height,
            'alt': getIcons(getCardType()).title
            }">
        </div>
        <div class="radiogroup__label-item">
            <div class="credit-card">
                <div class="credit-card__content">
                    <div class="credit-card__number">
                        <div class="text text--variation-strong" text="getMaskedCard()"></div>
                    </div>
                    <div class="credit-card__exp-date">
                        <div class="text text--variation-strong">
                            <span translate="'expires'"></span>:
                            <span text="getExpirationDate()"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </label>

    <div class="radiogroup__content form form--condensed payment-method-content">

        <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address" data-bind="visible: $parent.activeTab() === 'pickup'">
            <!-- ko foreach: $parent.getRegion('billing-address-form') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

    </div>
</div>
