<?xml version="1.0"?>
<!--

 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Preferences -->
    <preference for="Wheelpros\Checkout\Api\CheckoutConfigInterface" type="Wheelpros\Checkout\Helper\CheckoutConfig" />
    <preference for="Wheelpros\Checkout\Api\CheckoutTypeInterface" type="Wheelpros\Checkout\Model\Onepage" />
    <preference for="Wheelpros\Checkout\Api\CartManagerInterface" type="Wheelpros\Checkout\Model\CartManager" />
    <preference for="Wheelpros\Checkout\Api\GuestCustomerManagementInterface" type="Wheelpros\Checkout\Model\GuestCustomerManagement" />
    <preference for="Wheelpros\Checkout\Api\OrderCommentsManagementInterface" type="Wheelpros\Checkout\Model\OrderCommentsManagement" />
    <preference for="Wheelpros\Checkout\Api\EmailSubscriptionManagerInterface" type="Wheelpros\Checkout\Model\EmailSubscriptionManager" />
    <preference for="Wheelpros\Checkout\Api\BillingAddressManagementInterface" type="Wheelpros\Checkout\Model\BillingAddressManagement" />

    <type name="Wheelpros\Checkout\Plugin\AddLayoutProcessorAfterAll">
        <arguments>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\JsonHexTag</argument>
        </arguments>
    </type>
    <type name="Wheelpros\Checkout\Model\Config\Backend\MethodsConfiguration">
        <arguments>
            <argument name="resourceCollection" xsi:type="object">Magento\Config\Model\ResourceModel\Config\Data\Collection\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Api\CartManagementInterface">
        <plugin name="wheelpros_checkout_save_comment"
                type="Wheelpros\Checkout\Plugin\SaveOrderComment"
                sortOrder="10"
                disabled="false"/>
    </type>
    <!-- Fix quote id for guest -->
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="wheelpros_checkout_fix_guest_quote_id"
                type="Wheelpros\Checkout\Plugin\FixQuoteIdForGuest"
                sortOrder="10"
                disabled="false"/>
    </type>
    <!-- Set default country to shipping address -->
    <type name="Magento\Quote\Api\PaymentMethodManagementInterface">
        <plugin name="wheelpros_checkout_set_shipping_default_country"
                type="Wheelpros\Checkout\Plugin\SetDefaultShippingCountry"
                sortOrder="10"
                disabled="false"/>
    </type>
    <!-- Allow Forced registration for virtual orders -->
    <type name="Magento\Downloadable\Observer\IsAllowedGuestCheckoutObserver">
        <plugin name="wheelpros_checkout_allow_forced_registration_during_checkout"
                type="Wheelpros\Checkout\Plugin\AllowForcedRegistrationForVirtualOrders"
                sortOrder="10"
                disabled="false"/>
    </type>
    <!-- Disable error on empty quote id: just log it and don't show to customer in error messages -->
    <type name="Magento\Quote\Api\ShippingMethodManagementInterface">
        <plugin name="wheelpros_checkout_disable_error_on_empty_quote_id"
                type="Wheelpros\Checkout\Plugin\DisableEmptyQuoteIdError"
                sortOrder="10"
                disabled="false"/>
    </type>

    <!-- SCSS preprocessor -->
    <type name="Magento\Framework\View\Asset\PreProcessor\AlternativeSource">
        <arguments>
            <argument name="alternatives" xsi:type="array">
                <item name="mwscss" xsi:type="array">
                    <item name="class" xsi:type="string">Wheelpros\Checkout\Preprocessor\Adapter\Scss\Processor</item>
                </item>
                <item name="less" xsi:type="array">
                    <item name="after" xsi:type="string">mwscss</item>
                    <item name="class" xsi:type="string">Magento\Framework\Css\PreProcessor\Adapter\Less\Processor</item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="AlternativeSourceProcessors">
        <arguments>
            <argument name="alternatives" xsi:type="array">
                <item name="mwscss" xsi:type="array">
                    <item name="class" xsi:type="string">Wheelpros\Checkout\Preprocessor\Adapter\Scss\Processor</item>
                </item>
                <item name="less" xsi:type="array">
                    <item name="after" xsi:type="string">mwscss</item>
                    <item name="class" xsi:type="string">Magento\Framework\Css\PreProcessor\Adapter\Less\Processor</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\App\View\Asset\Publisher">
        <plugin name="removeCheckoutMainCssFileBeforeDeploy"
                type="Wheelpros\Checkout\Preprocessor\Plugin\DeployEachTimeNewCssFilePlugin"
                sortOrder="10"
        />
    </type>
    <type name="Magento\Framework\View\Asset\PreProcessor\Chain">
        <plugin name="regenerateMwscssContentEachTime" type="Wheelpros\Checkout\Preprocessor\Plugin\ChainPluginToRegenerateMWSCSSEachTime"/>
    </type>
</config>
