<!--Payment methods template-->
<p class="heading layout__pane__heading"
   data-role="title"
   data-bind="text: sectionIndex() + '. ' + label() "></p>

<form class="form payments"
      action="#"
      data-bind="blockLoader: isLoading"
      id="co-payment-form"
      novalidate="novalidate"
>
    <input data-bind='attr: {value: getFormKey()}' type="hidden" name="form_key"/>

    <!-- ko foreach: getRegion('place-order-captcha') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->

    <!-- ko foreach: getRegion('beforeMethods') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->

    <div class="form__field">
        <div class="radiogroup radiogroup--size-fullwidth" data-bind="visible: isPaymentMethodsAvailable">

            <!-- ko foreach: getRegion('payment-methods-list') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->

            <div class="no-quotes-block" data-bind="visible: isPaymentMethodsAvailable() == false">
                <!-- ko i18n: 'No Payment method available.'--><!-- /ko -->
            </div>

            <!-- ko if: errorValidationMessage().length > 0 -->
                <div class="message notice">
                    <span><!-- ko i18n: errorValidationMessage()--><!-- /ko --></span>
                </div>
            <!-- /ko -->

        </div>
    </div>

    <!-- ko foreach: getRegion('afterMethods') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</form>
