<?xml version="1.0"?>
<!--

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="backend_auth_user_login_success">
        <observer name="wheelpros_update_notification" instance="Wheelpros\Info\Observer\GetWheelprosUpdates" />
        <observer name="wheelpros_offers_notification" instance="Wheelpros\Info\Observer\GetWheelprosOffers" />
        <observer name="wheelpros_get_extension_list" instance="Wheelpros\Info\Observer\GetWheelprosExtensionList" />
    </event>
</config>
